{% extends 'base.html.twig' %}

{% block title %}

    {{ post.title }}

{% endblock %}

{% block body %}

    {{ include('_navbar.html.twig') }}
<div style="margin-top: 3.5rem;"></div>

  <div class="container">

    <div class="row mb-4">

      <!-- Post Content Column -->
      <div class="col-lg-8" style="
    margin-left: auto;
    margin-right: auto;
">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</p>

        <hr>

        <!-- Preview Image -->
        <div class="text-center">
          {% if post.filename %}

            <img class="img-fluid rounded mx-auto" style="width: 600px; height: auto;" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('head')}}" alt="">

          {% else %}

            <img class="img-fluid rounded" src="https://via.placeholder.com/600x340" alt="">

          {% endif %}
        </div>



        <hr>

        <!-- Post Content -->
        <p style="text-indent: 2em;" class="mt-4 mb-4">
          {{ post.content }}
        </p>

        <hr>


      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">© Company 2019</p>
    </div>
    <!-- /.container -->
  </footer>

{% endblock %}
